:root {
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad638,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}

.section-title {
  position: relative;
  @apply text-2xl text-light-color font-bold
}
.section-title::before {
  content: attr(data-name);
  text-transform: uppercase;
  opacity: 0.1;
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
  @apply text-3xl text-light-color-alt font-bold
}
.arrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  @apply  top-64 text-light-color text-3xl hover:text-light-color-alt
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
.swipe{
  @apply relative
}
